body {
  font-family: 'Titillium Web', sans-serif;
}

a:link {
  text-decoration: none;
}

.App {
  background-color: #dcecfa;
  height: 100vh
}

.navBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  height: 10vh;
  margin: auto;
  font-size: 1.5rem;
}


.flexCon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 20%;
  height: 50vh;
  margin: auto;
}

.githubIcon {
  text-decoration: none;
  color: black;
  font-size: 6rem;
  margin-top: 1.75rem;
}

.aboutCon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;

}

.personalPic {
  background-image: url('./assets/personalPic.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 50%;
  width: 25%;
  border-radius: 50%;
  margin-top: .75rem;
}

.aboutText {
  width: 60%;
  font-size: 1.5rem;
  font-weight: 500;
  
}



