body {
	font-family: 'Titillium Web', sans-serif;
	background-color: #dcecfa;
	height: 100vh;
}

.App {
}

.navBar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 95%;
	height: 5rem;
	margin: auto;
	font-size: 1.5rem;
}

.navBarLink2 {
	margin: 1rem;
}

.navBarLink1:hover {
	box-shadow: 1px 1px 1px 1px #000, 2px 2px 1px 1px #000, 3px 3px 1px 1px #000,
		4px 4px 1px 1px #000, 5px 5px 1px 1px #000, 6px 6px 1px 1px #000,
		7px 7px 1px 1px #000;
	transform: translateX(-7px);
	padding: 0.25rem;
}

.navBarLink2:hover {
	box-shadow: -7px 7px 1px 1px #000, -6px 6px 1px 1px #000,
		-5px 5px 1px 1px #000, -4px 4px 1px 1px #000, -3px 3px 1px 1px #000,
		-2px 2px 1px 1px #000, -1px 1px 1px 1px #000;
	transform: translateX(7px);
	padding: 0.25rem;
}

.flexCon {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 20%;
	height: 50vh;
	margin: auto;
	margin-top: 5rem;
}

.githubIcon {
	text-decoration: none;
	color: black;
	font-size: 6rem;
	margin-top: 1.75rem;
}

.aboutCon {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
}

.personalPic {
	background-image: url('./assets/personalPic.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 400px;
	width: 40%;
	border-radius: 50%;
	margin-top: 0.75rem;
	box-shadow: 1px 2px 3px 2px #686868;
}

.aboutText {
	width: 60%;
	font-size: 1.5rem;
	font-weight: 500;
}

.carousel {
	width: 80%;
	margin: auto;
	text-align: center;
}

.carouselItem {
	margin: 1rem;
}

.portfolio {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
}

.portfolioPiece {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 60%;
}

.projectTitle {
	padding: 1rem;
	font-size: 2rem;
}

.projectImage {
	background-image: url('./assets/WellDoneLanding.png');
	background-size: cover;
	background-repeat: no-repeat;
	height: 30vh;
	width: 60%;
	margin: auto;
	border-radius: 0.25rem;
}

.projectImage2 {
	background-image: url('./assets/Conjugator.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 0% 0.4%;
	height: 300px;
	width: 60%;
	margin: auto;
	border-radius: 0.25rem;
}

.projectImage3 {
	background-image: url('./assets/Somnus.svg');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	height: 30vh;
	width: 60%;
	margin: auto;
	border-radius: 0.25rem;
}

.portfolioPiece ul {
	margin-bottom: 2.5rem;
}

.projectLinks {
	margin-top: -0.5rem;
}

.projectLinks a {
	margin-left: 0.25rem;
}

.arrowBtn {
	font-size: 5rem;
	background-color: #dcecfa;
	border: none;
	margin: 1rem;
	padding: 1.1rem;
}

.arrowBtn:focus {
	outline: none;
}

.arrowBtn:active {
	border: 1px solid black;
	border-radius: 25px;
	padding: 1rem;
}

.contact {
	margin-top: 5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.contact p {
}

.contact .inputLabel {
	display: flex;
	justify-content: space-between;
	align-items: space-between;
	font-size: 2rem;
}

.contactInput {
	border: none;
	border-radius: 5px;
	font-size: 2rem;
	height: 4rem;
}

.contactInputMessage {
	border: none;
	border-radius: 5px;
	font-size: 2rem;
	height: 4rem;
}

.contactInput::placeholder {
	padding-left: 1rem;
	vertical-align: middle;
	font-size: 1rem;
}

.contactInputMessage::placeholder {
	font-size: 1rem;
	padding-left: 1rem;
	line-height: 4rem;
}

.contact .submitBtn {
	display: flex;
	justify-content: center;
}

.contact button {
	font-size: 2rem;
	border: 2px solid black;
	border-radius: 5px;
	background-color: #dcecfa;
}

@media screen and (max-width: 1300px) {
	.projectImage2 {
		background-position: 0% 1%;
	}
}

@media screen and (max-width: 1080px) {
	.projectImage2 {
		background-position: 0% 2%;
	}
}

@media screen and (max-width: 1020px) {
	.aboutCon {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		height: 100%;
	}

	.personalPic {
		height: 300px;
		width: 42.5%;
	}

	.projectImage {
		height: 40vh;
		width: 100%;
	}

	.projectImage2 {
		background-position: 0% 2%;
		height: 300px;
	}
}

@media screen and (max-width: 780px) {
	.projectImage2 {
		background-position: 0% 2%;
		height: 200px;
	}
}

@media screen and (max-width: 600px) {
	.aboutCon {
		height: 100%;
	}

	.personalPic {
		height: 300px;
		width: 250px;
	}

	.projectTitle {
		padding: 1rem;
		font-size: 2rem;
		text-align: center;
	}

	.projectImage {
		height: 40vh;
		width: 100%;
	}

	.projectImage2 {
		background-position: 0% 2%;
		height: 175px;
	}

	.projectImage3 {
		height: 175px;
	}
}
